@css {/*  CSS3 Clases - Luis Gago */}
@import 'nib/vendor'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'nib/normalize'
@import 'nib/flex'
vendor-prefixes = o ms moz webkit

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  ms-border-radius arguments
  o-border-radius arguments
  border-radius arguments

appearance()
  -webkit-appearance arguments
  -moz-appearance arguments
  ms-appearance arguments
  o-appearance arguments
  appearance arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  ms-box-shadow arguments
  o-box-shadow arguments
  box-shadow arguments

transform()
  -webkit-transform arguments
  -moz-transform arguments
  ms-transform arguments
  o-transform arguments
  transform arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  ms-transition arguments
  o-transition arguments
  transition arguments

flex()
  -webkit-box-flex arguments
  -moz-box-flex arguments
  -webkit-flex arguments
  -ms-flex arguments
  o-flex arguments
  flex arguments

flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  ms-box-shadow arguments
  o-box-shadow arguments
  box-shadow arguments

zoom()
  -ms-zoom arguments
  -webkit-zoom arguments
  zoom arguments

background-size()
  -webkit-background-size arguments
  -moz-background-size arguments
  ms-background-size arguments
  o-background-size arguments
  background-size arguments

user-select()
  -webkit-user-select arguments
  -moz-user-select arguments
  -ms-user-select arguments
  user-select arguments

box-sizing()
  -webkit-box-sizing arguments
  -moz-box-sizing arguments
  -ms-box-sizing arguments
  box-sizing arguments

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
*, *:after, *:before
  box-sizing border-box
  margin 0
//@import 'fonts'
body
  font-size: 16px

.section
  text-align center

  .bg
    background inherit
    border-radius 50%
    position absolute
    height calc(100% - 5%)
    transform scaleX(1.3)
    top 0
    left -15%
    right 0
    width 130%
    transition border-radius 300ms linear 0s
    &:after
      content ''
      width 100%
      position absolute
      top -50%
      height 100%
      left 0
      background inherit
  &.active
    .bg
      transition border-radius 500ms linear 410ms

#section1
  .bg
    background #F07E64
    z-index 8

#section2
  .bg
    background #87bfe4
    z-index 7

#section3
  .bg
    background #f5f2de
    z-index 6

#section4
  .bg
    background #242331
    z-index 4

.remove-circle
  .bg
    border-radius 0 !important

.content
  z-index 99
  position relative

#menu
  position fixed
  top 0
  left 0
  height 40px
  z-index 70
  width 100%
  padding 0
  margin 0

  li
    display inline-block
    margin 10px
    color #333
    background #fff
    border-radius 10px
    border-radius 10px

    &.active
      background rgba(0,0,0, 0.5)
      color #fff

      a
        color #fff
        &:hover
          color #000
    a
      text-decoration none
      color #000

    &:hover
      background rgba(255,255,255, 0.8)

    a, &.active a
      padding 9px 18px
      display block

#arrow
  width 100%
  height 40px
  text-align center
  cursor pointer
  position fixed
  bottom 0
  left 0
  border 0
  outline 0
  z-index 100
  color #333
  background transparent
  transition all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1)
  font-size: 36px
  font-weight bold

  span
    display inline-block
    position relative
    top -15px
    transition all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1)

  &:hover

    span
      top 0

.header
  padding-top 80px
  text-align center
  h1
    font-size 5em
    font-weight bold
    color #fff
  p
    color #f2f2f2
    font-size 1.7em

.page
  width 80%
  margin 60px auto
  background white
  padding 60px
  box-sizing border-box
  p
    font-style 12px
    margin 20px 0 0 0
    line-height 1.35em
    color #333
//@import 'keyframes'
//@import 'media'